input {
  font-size: 1em;
  border: none;
  width: 80%;
}

input:focus {
  box-shadow: none;
}

svg {
  fill: currentColor;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

.modal h3 {
  text-align: center;
}

.center {
  justify-content: center;
}

.form {
  background: #eee;
  padding: 15px;
  border-radius: 3px;
  margin: auto;
  max-width: 400px;
}

.form-group {
  margin-bottom: 1rem;
  max-width: 400px;
}

.form-group:nth-last-child(1) {
  margin-bottom: 0;
}

.form-group label {
  text-align: left;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-group input {
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 94%;
  max-width: 380px;
}

.button {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  transition: 200ms;
  cursor: pointer;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button.primary {
  color: #fff;
  background: hsla(200, 80%, 50%, 1);
}

.button.primary:hover {
  background: hsla(200, 80%, 60%, 1);
}

.button.help {
  color: #ccc;
  background: none;
  border: none;
}

.button.help:hover {
  color: #aaa;
}
